<ng-container >
    <app-topnav [sourcepage]="'devland'" (navclickevnt)="navclick($event)"></app-topnav>

    <mat-sidenav-container class="example-container" autosize>
            <mat-sidenav  #devsidenav [opened]="snav.screenWidth > 1280" [mode]="(snav.screenWidth > 1280) ? 'side' : 'over'" opened class="example-sidenav mat-elevation-z4"
                    [fixedInViewport]="false" [fixedTopGap]="0"
                    [fixedBottomGap]="0">
          <!--
            <mat-sidenav #devsidenav [opened]="snav.screenWidth > 1280" [mode]="(snav.screenWidth > 1280) ? 'side' : 'over'" opened class="example-sidenav mat-elevation-z4"
            [fixedInViewport]="false" [fixedTopGap]="0"
            [fixedBottomGap]="0">
          
            <div class = "example-sidenav-cont">
                <div fxLayout = "column" fxLayoutGap = "30%" *ngIf = "custtyp !== 'A'">
                    <div>
                        <a type ="button" mat-button fxFlexFill routerLink="devdsb" routerLinkActive="active-link" fxFlexAlign ="center" style=" font-size:20px; width: 100%"> <mat-icon fxFlexAlign ="center">poll</mat-icon> &nbsp; Dashboard</a>
                    </div>
                    <div>
                    <a type ="button" mat-button fxFlexFill routerLink="devapp" routerLinkActive="active-link" fxFlexAlign ="center" style="font-size:20px"> <mat-icon fxFlexAlign ="center">poll</mat-icon> &nbsp; Create App</a>
                        
                    </div>
                </div>

                <div fxLayout = "column" fxLayoutGap = "30%" *ngIf = "custtyp === 'A'">
                    <div>
                        <a type ="button" mat-button fxFlexFill routerLink="devadsb" routerLinkActive="active-link" fxFlexAlign ="center" style=" font-size:20px; width: 100%"> <mat-icon fxFlexAlign ="center">poll</mat-icon> &nbsp; Adminboard</a>
                    </div>
                </div>


            </div>
        -->
        <mat-nav-list>
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
          </mat-nav-list>


            </mat-sidenav>  
    <mat-sidenav-content  >
    <div class="example-sidenav-cont-cont">        

        <router-outlet></router-outlet>
        
    </div>

    </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>

<!--
<app-topnav [sourcepage]="'devland'" (navclickevnt)="navclick($event)"></app-topnav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>
-->