<app-topnav [sourcepage]="'devhomepg'" (navclickevnt)="navclick($event)"></app-topnav>
<mat-toolbar>Natrayan</mat-toolbar>
<router-outlet></router-outlet>

<div class ="outer">
    <div class = "imgbox">
        <img class = "inner-img" src="../../../assets/cloud.jpg" >
        <p class = "inner-txt"><strong>{{'{'}}</strong>Nawalcube<strong>}</strong></p>
        <p class = "inner-txt-down">API</p>
    </div>
    <div class="inner">
            <div class="typewriter">
                    <h1>Simple yet powerful APIs in your hand</h1>
                <p style = "font-family: monospace; text-align: center">Mutual fund transactions made Simple. </p>
                <p style = "font-family: monospace; text-align: center"> Deliver more to your Client.  Worry less on transaction integration.</p>
            </div>
    </div>
</div>


