<div fxLayout = "column"  fxLayoutAlign = "center center" style = "height:100vh">

    <mat-card fxFlexAlign = "center" >
      <mat-card-title>
       <span fxFlex></span>
        Nawalcube
        <span fxFlex></span>        
      </mat-card-title>
      <mat-card-subtitle>
          <span fxFlex></span>
        Access Request
               <span fxFlex></span>

      </mat-card-subtitle>
      Application applicationname is requesting access to your account
      
      <mat-card-actions>
          <button mat-button (click)="accept()">ACCEPT</button>
          <button mat-button (click)="deny()">DENY</button>
      </mat-card-actions>
      
    </mat-card>
    
    </div>