<ng-container >
    <app-topnav [sourcepage]="'devland'" (navclickevnt)="navclick($event)"></app-topnav>

    <mat-sidenav-container class="example-container ">
            <mat-sidenav #sidenav mode="side" opened class="example-sidenav mat-elevation-z4"
            [fixedInViewport]="false" [fixedTopGap]="0"
            [fixedBottomGap]="0">
            <div class = "example-sidenav-cont">
                <div fxLayout = "column" fxLayoutGap = "30%">
                    <div>
                        <a type ="button" mat-icon-button routerLink="/securedpg/dashboard" routerLinkActive="active" fxFlexAlign ="center" style=" font-size:20px"> <mat-icon fxFlexAlign ="center">poll</mat-icon> &nbsp; Dashboard</a>
                    </div>
                    <div>
                            <a type ="button" mat-icon-button routerLink="/securedpg/dashboard" routerLinkActive="active" fxFlexAlign ="center" style="font-size:20px"> <mat-icon fxFlexAlign ="center">poll</mat-icon> &nbsp; Create App</a>
                        
                    </div>
                </div>
            </div>
        
    </mat-sidenav>  
    <mat-sidenav-content  >
        <div class="example-sidenav-cont-cont">
        <p > this is the values</p>
    </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>