<div fxLayout="column"  fxLayoutWrap fxLayoutAlign="center center" style = "height:100vh">
<mat-card [ngStyle]="{'width':'50%'}" [ngStyle.lt-lg]="{'width':'100%'}"  [ngStyle.lt-xl]="{'width':'65%'}" fxAlign = "center" >



       <mat-card-title>
          <span fxFlex></span>
          <strong style="font-size: 55px;font-family: 'Cabin Sketch', cursive; color: darkgreen">Nawalcube</strong>
           <span fxFlex></span>        
         </mat-card-title>
         <mat-card-subtitle>
           <span fxFlex></span>
           <div fxFlexAlign = "center" >Signup </div>
           <span fxFlex></span>
         </mat-card-subtitle>



       <app-alerts [id]="id1"></app-alerts>
      <div>
      <span fxFlex = "10%"></span>
    
  </div>
  <br>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"style="margin-top:0px">
 

            <form ngClass="example-form1" [ngClass.lt-md]="{'example-form1':false,'example-form':true}" [formGroup]="signupForm">

            <div fxLayout = "row">
                <h4>Your Details:</h4>
            </div>
            <div fxLayout = "row">
                <mat-form-field>
                    <mat-select placeholder="Register as:" formControlName="custtype" name="customer type">
                      <mat-option *ngFor="let cust of cust_types" [value]="cust">
                        {{cust.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

            </div>
            <div  fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutAlign="center center"  >
              
                    <mat-form-field class="example-full-width1" >
                      <input matInput placeholder="Name" fxFlex formControlName="name">
                      <mat-error *ngIf="signupForm.controls['name'].hasError('required')">
                        Name is required.
                      </mat-error>
                      <mat-error *ngIf="signupForm.controls['name'].hasError('pattern')">
                        Name cannot have number or special characters. Min of 3 and Max of 70.
                      </mat-error>
                      <mat-error *ngIf="signupForm.controls['name'].hasError('maxlength')">
                          Length cannot be more than 70
                        </mat-error>
                    </mat-form-field>

                   
                    <mat-form-field class="example-full-width" >
                        <input matInput placeholder="Adhaar#"  formControlName="adhaar" fxFlex>
                        <mat-error *ngIf="signupForm.controls['adhaar'].hasError('required')">
                          Adhaar number is required
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['adhaar'].hasError('pattern')">
                          Adhaar number cannot have alphabhets or special characters. Length should be 12
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['adhaar'].hasError('maxlength')">
                          Length should be 12
                        </mat-error>
                      </mat-form-field>

                      
                      
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="PAN#" formControlName="pan" fxFlex="0 1 auto">
                      <mat-error *ngIf="signupForm.controls['pan'].hasError('required')">
                        PAN is required
                      </mat-error>
                      <mat-error *ngIf="signupForm.controls['pan'].hasError('pattern')">
                        Invalid PAN
                      </mat-error>
                      <mat-error *ngIf="signupForm.controls['pan'].hasError('maxlength')">
                        Enter a valid PAN
                      </mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width" *ngIf = "signupForm.controls['custtype'].value.value !== '0'">
                        <input matInput placeholder="ARN#"  formControlName="arn" fxFlex>
                        <mat-error *ngIf="signupForm.controls['arn'].hasError('required')">
                          ARN is required
                        </mat-error>
                        <!--mat-error *ngIf="signupForm.controls['adhaar'].hasError('pattern')">
                          Adhaar number cannot have alphabhets or special characters. Length should be 12
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['adhaar'].hasError('maxlength')">
                          Length should be 12
                        </mat-error-->
                      </mat-form-field>


                    <mat-form-field class="example-full-width" >
                        <span matPrefix>+91 &nbsp;</span>
                        <input matInput placeholder="Mobile#" formControlName="mobile" fxFlex="0 1 auto">
                        <mat-error *ngIf="signupForm.controls['mobile'].hasError('maxlength')">
                          Enter a valid mobile
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['mobile'].hasError('required')">
                          Mobile number is required
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls['mobile'].hasError('pattern')">
                          mobile number cannot have alphabets and special characters. Lenght should be 10
                        </mat-error>
                      </mat-form-field>

  
              </div>
            </form>
        </div>


        <div>
            <span fxFlex = "10%"></span>
            <p  *ngIf="signupForm.valid" style="margin:50px 0 -30px 0">Register your login :</p>        </div>
  
  <br>
  <br>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"style="margin-top:0px" *ngIf="signupForm.valid">
      <br>
      <br>
      <div >


          <form class="example-form"  [formGroup]="userpasswdlgForm"> 
              <div  fxLayout="column" fxFlex="1 0 auto" fxLayoutGap="20px" fxLayoutAlign="center center" fxFlex="0 1 auto">
                    
                  <mat-form-field class="example-full-width" >
                    <input matInput placeholder="Email" formControlName="email" >
                        <mat-error *ngIf="userpasswdlgForm.controls['email'].hasError('pattern')">
                          email is not valid
                        </mat-error>
                        <mat-error *ngIf="userpasswdlgForm.controls['email'].hasError('required')">
                          email is Mandatory
                        </mat-error>
                  </mat-form-field>
                  
                
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password" fxFlex="0 1 auto">
                        <mat-error *ngIf="userpasswdlgForm.controls['password'].hasError('pattern')">
                          Length must be min 8 max 10, starting with A-Z or a-z and with at least one number, one uppercase, lowercase letter and one special character from !@#%&amp;
                        </mat-error>
                        <mat-error *ngIf="userpasswdlgForm.controls['password'].hasError('required')">
                          Password cannot be blank
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                      <input matInput type="password" placeholder="Reenter Password" formControlName="repassword" fxFlex="0 1 auto">
                          <mat-error *ngIf="userpasswdlgForm.controls['repassword'].hasError('required')">
                            Password cannot be blank
                          </mat-error>
                          <mat-error *ngIf="userpasswdlgForm.controls['repassword'].hasError('passmatch')">
                              Password do not match
                            </mat-error>
                    </mat-form-field>
                  
                  <br>
              
              <button mat-raised-button  [disabled]="userpasswdlgForm.invalid" (click)="submitsignup()" id="userpassloginbtn" class="example-full-width" style="height:50px;width:300px;font-size:20px;" color="primary" > <strong>Login</strong></button>    
             
                  <br>
            </div>
          </form>



</div>
<!--div fxFlex="auto" style="text-align:center" >
    <p ></p>
    <button mat-fab style="color:green" [disabled]="true"  [ngStyle.lt-md]="{'margin-top':'50px'}"><strong>OR</strong></button>
 
</div>
  <div  fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center" style="height:400px">



   <div fxLayout="column" fxLayoutGap="40px" >

      <button mat-raised-button (click)="signInWithGoogle()" id="googleloginbtn" style="height:50px;width:400px;font-size:20px; color:white; background-color:#3369E8"  ><strong>Signup with Google </strong></button>   
    
      <button mat-raised-button (click)="signInWithFacebook()" id="fbloginbtn" style="height:50px;width:400px;font-size:20px;color:white; background-color:#3B5388"> <strong>Signup with facebook </strong></button>   
  
      <button mat-raised-button (click)="signInWithTwitter()" id="twitterloginbtn" style="height:50px;width:400px;font-size:20px;color:white; background-color:#3699ED"> <strong>Signup with Twitter </strong></button>   
  
      </div>
      <br>
    </div-->
  
  
  
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span style="line-height:60px"></span>
  
  <a style="font-size:15px" type="button" routerLink="/login" routerLinkActive="active" style="font-size: 15px"  >Back to login</a>
  <div fxLayout="row" fxLayoutAlign="center center">
  <span style="line-height:60px"></span>

</div>
  </div>
</mat-card>
</div>

