
.card-container {
    width: 392px;
    height: 362px;
    display: inline-block;
    //margin-right: 30px;
    //margin-bottom: 30px;
    border: 6px dotted #e1e6f0;
    text-align: center;
    vertical-align: middle;
    z-index: -1;
  }


.card-container1 {
  width: 392px;
  height: 362px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  //border: 6px dotted #e1e6f0;
  text-align: center;
  vertical-align: middle;
  //z-index: -1;
}

.card-plus {
    font-size: 134px;
    font-weight: 300;
    color: #e1e6f0;
    cursor: pointer;
  }

  .card-create-app-label {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    //color: #0046bb;
    color: #e1e6f0;
    cursor: pointer;
  }

  p {
    font-family: Lato;
  }
  
  .card-full-container {
      width: 292px;
      height: 382px;
      // display: inline-block;
      margin-right: 30px;
      padding-bottom: 0px;
      // border: 6px dotted #e1e6f0;
      text-align: center;
      vertical-align: middle;
      border-radius: 15px ;
    }
  
    .card-small-container {
      width: 292px;
      height: 222px;
      // display: inline-block;
      margin-right: 30px;
      padding-bottom: 0px;
      // border: 6px dotted #e1e6f0;
      text-align: center;
      vertical-align: middle;
      border-radius: 15px ;
    }
  
  
    .incard-container {
      min-height: 200px; 
      padding:20px;
    }