.example-container {
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: white;
  }
  
  .example-sidenav {
    display: flex;
    // align-items: center;
    justify-content: left;
    min-width: 250px;
    // background: rgba(255, 0, 0, 0.5);
    z-index: 4;
  }
  
  .example-sidenav-cont {
    margin:50px 20px 50px 30px;
  }

  .example-sidenav-cont-cont {
    margin:50px 20px 50px 20px;
  }

  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .bt-full {
    width: 100%
  }
