<div fxLayout = "row">
    <div>
        <div  class= "card-container" fxLayout = "column" fxLayoutAlign = "center center">
            <div fxLayout = "row">
            <div>
                    <label fxFlex class = "card-plus" (click) = "createapp()"> + </label>
            </div>
          </div>
          <div fxLayout = "row">
            <div  fxFlex  >
                    <label fxFlex class = "card-create-app-label" (click) = "createapp()">CREATE NEW APP</label>
                </div>
            </div>
          </div>
    </div>
  </div>